<div class="d-flex align-items-stretch min-height-100 h-100">
  <div class="bg-cover bg-1 d-none d-md-inline-flex col-md-6 col-lg-8"></div>
  <div class="card card-body mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">
    <div *ngIf="is_success">
      <div class="mb-3">
        <img src="assets/images/logo.png" class="avatar-xs mb-1" alt="">
        <p class="ff-headers text-uppercase">Verify Account</p>
        <p>You'r account has been successfully verified click the link below to login</p>
        <a class="btn btn-outline-primary btn-link" [routerLink]="['/signin']">login</a>
      </div> 
    </div>
    <div *ngIf="!is_success">
      <div class="mb-3">
        <img src="assets/images/logo.png" class="avatar-xs mb-1" alt="">
        <p>Unable to verify acccout</p>
      </div>  
    </div>   
  </div>
</div>
