<div class="d-flex align-items-stretch flex-nowrap min-height-100 h-100">
  <!-- <app-spinners></app-spinners> -->
<div class="bg-cover bg-2 d-none d-md-inline-flex col-md-6 col-lg-8"></div>
<div class="card card-body mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">

    <div *ngIf="showview == 'confirmation_page' else content">
        Password updated succcessfully, Please <a [routerLink]="['/']" class="form-text" style="display:inline-block;">click here</a> to login your account.
    </div>    
    <ng-template #content>
        <form [formGroup]="form" (ngSubmit)="resetPassword(form.valid)">
            <div class="mb-3">
              <img src="assets/images/logo.png" class="avatar-xs mb-1" alt="">
              <p class="ff-headers text-uppercase">Reset Password</p>
            </div>
            <ngb-alert *ngIf="showUiMessage" [type]="alert.type" [dismissible]="alert.dismissible" (close)="showUiMessage=false">
                {{alert.message}}
            </ngb-alert>
            <fieldset class="form-group">
              <label for="password">
                Enter new password
              </label>
              <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['password']" [ngClass]="{'is-invalid': form.controls['password'].hasError('required') && form.controls['password'].touched}"/>
              <div class="invalid-feedback" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password is required.</div>
            </fieldset>
            <fieldset class="form-group">
              <label for="password">
                Confirm new password
              </label>
              <input type="password" class="form-control" placeholder="********" [formControl]="form.controls['confirmPassword']" [ngClass]="{'is-invalid': form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched || form.controls['confirmPassword'].hasError('equalTo') && form.controls['confirmPassword'].touched}"/>
              <div class="invalid-feedback" *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched">Confirm your password.</div>
              <div class="invalid-feedback" *ngIf="form.controls['confirmPassword'].hasError('equalTo') && form.controls['confirmPassword'].touched">Password should match.</div>
            </fieldset>
            <div class="block mb-3"></div>
            <button class="btn btn-primary" type="submit" [disabled]="form.invalid || disableButton">Reset password</button>
            <a [routerLink]="['/signin']">Return to login!</a>
          </form>
    </ng-template>
    <ng-template #other_content>other content here...</ng-template>
    <ng-spinner [display]="disableButton"></ng-spinner>
</div>
</div>